
    body {
      background-image: url('37.png');
      background-repeat:round;
      position: relative;
      width: 85%;
      height: 610px;
      margin-left: auto;
      margin-right: auto;
      background-size:contain;
      background-position:center;
    }

    h1 {
        position:center;
        font-size: xx-large;
        position:sticky;
        text-align:center;
        text-shadow: lawngreen;
    }

    h3 {
        width: auto;
        height: auto;
        color: magenta;
        margin-top:0%;

    }

    body {
        color: rgb(255, 238, 0);
        text-align: center;
        font-size: large
    }

